@{
    ViewData["Title"] = "Trang chủ";
}
@*<link rel="stylesheet" href="~/css/MyStyle.css">*@
<div class="text-center">
    <h1 class="display-4">SHOP CỬA HÀNG THÚ CƯNG PET STORE</h1>
    <div class="text-left mar-0 content">
        Pet Store là shop thú cưng Đồ dùng cho chó – Đồ dùng cho mèo tại Nha Trang với hệ thống các chi nhánh cửa hàng thú cưng chuyên cung cấp đồ dùng, quần áo, thức ăn, sữa tắm, chuồng, vòng cổ xích và các phụ kiện cho Chó cảnh, Mèo cảnh, Cá cảnh,..... Cùng nhiều bài viết chia sẻ kinh nghiệm chăm sóc.  Địa chỉ nhận tắm spa, chăm sóc, cắt tỉa lông và trông giữ thú cưng chuyên nghiệp. Với chất lượng dịch vụ tốt nhất luôn được khách hàng tin tưởng sẽ là điểm đến lý tưởng và tuyệt vời dành cho vật nuôi.
    </div>

    <iframe style="width:80vw;height:80vh;"
            src="https://www.youtube.com/embed/pY-EhQs0ddc">
    </iframe>

    <h3>Danh sách các vật phẩm bán chạy</h3>
    <div class="content-2">
        <div class="item">
            <img src="~/Img/Image/selling/cat-food01.png" title="Mèo ai cập">
            <div class="mask"></div>
            <h3>Thức ăn cho mèo</h3>
        </div>
        <div class="item">
            <img src="~/Img/Image/selling/cat-food01.png" title="Mèo ai cập">
            <div class="mask"></div>
            <h3>Thức ăn cho mèo</h3>
        </div>
        <div class="item">
            <img src="~/Img/Image/selling/cat-food01.png" title="Mèo ai cập">
            <div class="mask"></div>
            <h3>Thức ăn cho mèo</h3>
        </div>
    </div>
</div>
